Repository ashanbrown/gofmts: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmts, generate

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.0.1"

repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.32.2
    hooks:
      - id: golangci-lint

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch

  - repo: local
    hooks:
      - id: gofmts
        name: Dogfooding (gofmts)
        description: Run gofmts on itself
        entry: go run ./cmd/gofmts -l -w
        language: system
        require_serial: true
        types: [go]
        exclude: "example/example.go"
      - id: generate
        name: generate
        description: ensure that running go generate changes nothing
        types: [go]
        language: system
        require_serial: true
        entry: go generate ./...

  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v0.8.0
    hooks:
      - id: go-build-mod
      - id: go-test-mod

Remove logging code
  pkg/gofmts/sorter.go
Due: gofmts, generate

Use report rather than log.Printf
  cmd/gofmts/gofmts.go
Due: gofmts, generate

Use a heuristic to determine whether to use tabs or spaces for indenting
  example/example.go
  pkg/gofmts/formatter.go
  pkg/gofmts/formatter_test.go
  pkg/gofmts/sorter_test.go
Due: gofmts, generate

Update README
  .pre-commit-config.yaml
  README.md
Due: none

Use source (if available) to start indent at next tab stop
  Makefile
  README.md
  cmd/gofmts/gofmt.go
  cmd/gofmts/gofmts.go
  example/example_expected.go
  pkg/gofmts/formatter.go
  pkg/gofmts/formatter_test.go
  pkg/gofmts/sorter_test.go
Due: gofmts, generate

Add github actions workflow to and and run goreleaser
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  .goreleaser.yml
  Dockerfile
Due: none

Support sorting struct fields and numerical lists
  pkg/gofmts/sorter.go
  pkg/gofmts/sorter_test.go
Due: gofmts, generate

Fix test workflow
  .github/workflows/test.yml
Due: none

Add workflows badge
  README.md
Due: none

Fix goreleaser config
  .goreleaser.yml
Due: none

Fix image template for docker
  .goreleaser.yml
Due: none

Export a pre-commit hook
  .github/workflows/release.yml
  .github/workflows/test.yml
  .goreleaser.yml
  .pre-commit-hooks.yaml
  Dockerfile.goreleaser
  example/example.go
Due: generate

Fix badge
  README.md
Due: none

Revert example.go changes
  example/example.go
Due: generate

Export a pre-commit hook (#1)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .goreleaser.yml
  .pre-commit-hooks.yaml
  Dockerfile.goreleaser
  README.md
Due: none

Login to docker and ghcr for releases
  .github/workflows/release.yml
Due: none

Add docker hook
  .goreleaser.yml
  .pre-commit-hooks.yaml
  Dockerfile.goreleaser
Due: none

Add example for gofmts:go to example.go
  example/example.go
  example/example_expected.go
Due: gofmts, generate

Fix docker-based pre-commit hook arguments
  .pre-commit-hooks.yaml
Due: none

Add note about pre-commit hooks. t
  README.md
Due: none

Exclude vendor files by default
  .pre-commit-hooks.yaml
Due: none

Run make test in CI
  .github/workflows/test.yml
  example/example_expected.go
Due: gofmts, generate

Fix yaml
  .github/workflows/test.yml
Due: none

Fix build tag
  example/example.go
  example/example_expected.go
Due: gofmts, generate

Run "make test" in CI (#2)
  .github/workflows/test.yml
  example/example.go
  example/example_expected.go
Due: gofmts, generate

Fix typo in module name
  cmd/gofmts/gofmt.go
  cmd/gofmts/gofmts.go
  go.mod
Due: gofmts, generate

Export anaylzer
  go.mod
  go.sum
  pkg/gofmts/analyzer.go
  pkg/gofmts/formatter.go
  pkg/gofmts/sorter.go
Due: gofmts, generate

Export analyzers for sort and format
  .pre-commit-config.yaml
  example/example.go
  example/example_expected.go
  pkg/gofmts/analyzer.go
  pkg/gofmts/analyzer/analyzer.go
  pkg/gofmts/analyzer/analyzer_test.go
  pkg/gofmts/analyzer/testdata/format/unformatted.go
  pkg/gofmts/analyzer/testdata/format/unformatted.go.golden
  pkg/gofmts/analyzer/testdata/sort/unsorted.go
  pkg/gofmts/analyzer/testdata/sort/unsorted.go.golden
  pkg/gofmts/formatter.go
  pkg/gofmts/sorter.go
Due: gofmts, generate

Move analyzer
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/analyzer/testdata/format/unformatted.go
  pkg/analyzer/testdata/format/unformatted.go.golden
  pkg/analyzer/testdata/sort/unsorted.go
  pkg/analyzer/testdata/sort/unsorted.go.golden
Due: gofmts, generate

Add plugin
  .github/workflows/test.yml
  .gitignore
  .golangci.yml
  .pre-commit-config.yaml
  example/example.go
  example/example.go.golden
  example/generate.go
  go.mod
  go.sum
  golangci-lint/plugin.go
  pkg/analyzer/analyzer.go
  pkg/gofmts/formatter.go
  tools.go
Due: gofmts, generate

add flag to disable placing formatted strings at next tab stop
  .github/workflows/test.yml
  .golangci.yml
  .pre-commit-config.yaml
  README.md
  cmd/gofmts/gofmts.go
  pkg/gofmts/formatter_test.go
  pkg/gofmts/sorter_test.go
Due: gofmts, generate

Update README
  README.md
Due: none

Fix settings
  README.md
Due: none

Reorder
  .github/workflows/test.yml
Due: none

Fix compare
  Makefile
Due: none

Fix
  example/example.go.golden
Due: none

Bump go tool versions
  go.mod
  go.sum
Due: none

Fix test
  example/generate.go
Due: gofmts, generate

Fixes
  .golangci.yml
Due: none
